<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Baby Names', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="<%= active_link('/', 'nav-item') %>">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Names
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'List', names_path, class: 'dropdown-item' %>
          <%= link_to 'Top 100 By Year', '#', class: 'dropdown-item' %>
        </div>
      </li>
      <li class="<%= active_link('/import_data_files', 'nav-item') %>">
        <%= link_to 'Import Data', import_data_files_path, class: 'nav-link' %>
      </li>
    </ul>

    <%= form_tag(names_path, class: 'form-inline my-2 my-lg-0', method: :get) do %>
      <%= text_field_tag(:name, params[:name], class: 'form-control mr-sm-2') -%>
      <%= submit_tag("Search Names", class: 'btn btn-outline-success my-2 my-sm-0') -%>
    <% end %>
  </div>
</nav>
